@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "./animate.less";

html,body{
	background-color: #4F92E0;
	text-align: center;
	color: white;
	// margin: 0px;
	// padding: 0px;
	font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	letter-spacing: 2px;
	// height: 100%;
	// widht: 100%;
	// overflow: hidden;
	// min-height: 400px;
	// min-width: 200px;
}

body{
	padding: 15px;
}

.animation-delay(@delay) {
  -webkit-animation-delay: @delay;
     -moz-animation-delay: @delay;
          animation-delay: @delay;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

// .text-container{
	// height: 100%;
	// overflow: auto;
	.text-block{
		// .center-block();
		// width: 70%;
		// text-align: left;
		padding-top: 50px;
		padding-bottom: 100px;
		// padding-bottom: 20px;

		.name{
			.animated();
			.fadeInUp();
			// font-style: italic;
			// font-weight: 3000;
			letter-spacing: 4px;
			font-size: 50pt;
			margin-bottom: 40px;
			// margin-bottom: 25px;
		}

		.testflightLink{
			.animated();
			.fadeInUp();
			.animation-delay(0.3s);
			border: 1px solid white;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left: 80px;
			padding-right: 80px;

			color: white;
			margin-top: 25px;
			font-size: 12pt;
			overflow: auto;
			&:hover{
				text-decoration: none;
				background-color: rgba(255, 255, 255, 0.1);
				cursor: pointer;
				color: white;
			}
		}

		.emailLink{
			.animated();
			.fadeInUp();
			.animation-delay(0.3s);
			display: block;
			color: white;
			overflow: auto;
			display: block;
			margin-top: 50px;

			.underlined{
				text-decoration: underline;
			}

			&:hover{
				text-decoration: none;
			}
		}
		

		// .description{
		// 	font-weight: 100;
		// 	font-size: 22pt;
			
		// }
	}



// @media (min-width: 600px) and (max-width: 767px) {
// 	#responsiveLayout > .set(600px);
// }



// }



// .phone-container{
// 	height: 100%;
// 	.phone{
// 		height: 80%;
// 		width: auto;
// 		margin-top: 10%;
// 		min-height: 600px;
// 	}
// }

.phones-container{
	div:nth-child(1){
		.phone{
			.animation-delay(1s);
		}
	}
	div:nth-child(2){
		.phone{
			.animation-delay(1.4s);
		}
	}
	div:nth-child(3){
		.phone{
			.animation-delay(1.8s);
		}
	}
}

.phone{
	width: 100%;
	// max-width: 640px;
	max-width: 360px;
	-webkit-image-rendering: optimizeLegibility;
	.animated();
	.bounceInUp();
}


// Mobile style tweaks

// Fix font size on small screens
@media (min-width: 500px) {
	.name{
		font-size: 85pt !important;
		letter-spacing: 10px !important;
	}
}

// Use normal helvetica on retina displays - light is too thin
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .testflightLink,.emailLink{
  	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}